* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #f5f5f5; 
  padding: 20px;
  background: linear-gradient(to right, #222, #444);
}

@media screen and (min-width: 600px) {
  body {
    padding: 20px;
  }
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content {
    flex: 1 0 200px;
    margin: 10px;
  }
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  padding: auto;
}

.sidenav img.img-fluid {
  width: 180px; 
  height: auto;
  margin-left: 16px; 
  margin-top: 16px; 
  margin-right: 16px; 
}

.payment-methods img.img-fluid {
  width: 100px;
  height: auto;
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 10px; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery img.img-fluid {
  flex: 0 0 calc(25% - 20px);
  width: 15%;
  height: auto;
  margin: 10px;
}

.sidenav a {
  color: #f5f5f5; 
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: #ddd; 
  color: black;
}

.sidenav h1 {
  color: #f5f5f5; 
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-right: 10px;
  text-decoration: none;
  display: block;
}

.sidenav h4 {
  color: #f5f5f5; 
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-right: 10px;
  text-decoration: none;
  display: block;
}

.content {
  margin-left: 15px;
  padding-left: 220px;
  text-align: left;
}

footer {
  color: #f5f5f5; 
  text-align: left;
}

.info {
  color: #f5f5f5; 
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > section {
  flex: 1;
}

.flex-container > section:nth-child(1) {
  order: 1;
}

.flex-container > section:nth-child(2) {
  order: 3;
}

.flex-container > section:nth-child(3) {
  order: 2;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #222222;
  padding: 8px;
}

th {
  background-color: #222222;
}